# Git
.git
.gitignore

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
dist

# Environment variables
.env
.env.test
.env.example

# Testing
__tests__
coverage
jest.config.js
jest.setup.js

# Docker
Dockerfile
Dockerfile.production
docker-compose.yml
docker-compose.production.yml
.dockerignore

# Mocks and Test Utils
src/utils/cloudinary-mock.ts
src/utils/sharp-mock.ts
src/utils/perfectcorp-mock.ts
src/utils/test-helpers.ts

# Documentation
docs
README.md

# Application specific
prisma/seed.ts
prisma/seed-test.ts
logs
tmp
